* {
  box-sizing: border-box;
}

@font-face {
  font-family: Cursed Timer ULiL;
  src: url('fonts/CursedTimerUlil-Aznm.ttf');
}

@font-face {
  font-family: Air Travelers Font;
  src: url('fonts/AirtravelerspersonaluseBdit-ow59x.otf');
}

body, h1, h2, p, button {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  margin-top: 10px;
}

.start-container {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  width: 575px;
  height: 370px;
  background-image: url(./images/basketball-court.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.link-start {
  margin-top: 100px;
  width: 300px;
  height: 80px;
  font-family: Air Travelers Font;
  font-size: 45px;
  color: #ec5c14;
  background-color: transparent;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s;
}

.link-start:hover {
  transform: scale(1.1);
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 575px;
  padding: 30px 85px 68px;
  background: #1B244A;
  margin: 0 auto;
  text-align: center;
}

.time-title {
  color: whitesmoke;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
#time {
  color: #3fb2dc;
  font-family: Cursed Timer ULiL;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}

.score-container {
  display: flex;
  justify-content: space-between;
}

.player {
  color: #EEE;
  font-family: 'Verdana', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 21px;
}

.scoreboard {
  width: 155px;
  height: 120px;
  background-color: #080001;
  margin-bottom: 26px;
}

.score {
  margin: 0 auto;
  color: #F94F6D;
  font-family: Cursed Timer ULiL;
  font-size: 90px;
  font-weight: 400;
  line-height: 127px;
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-goal {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid #9AABD8;
  background: #1B244A;

  color: #9AABD8;
  font-family: Cursed Timer ULiL;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.btn-goal:hover {
  background: #fff;
  color: #1B244A;
}

.btn-goal:active {
  border: 2px solid rgb(213, 16, 16);
  color: rgb(213, 16, 16);
}

#btn-start {
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  width: 300px;
  height: 60px;
  background-color: #bacceb;
  color: #022dc7;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#btn-start:hover {
  background-color: #022dc7;
  color: #F94F6D;
}

.timer-corrector-group {
  margin-bottom: 20px;
}

.timer-corrector {
  width: 130px;
  height: 35px;
  margin: 0 7px;
  border-radius: 5px;
}

.timer-corrector:disabled {
  background-color: gray;
  cursor: auto;
}

.pause {
  background-color: rgb(228, 153, 146);
}

.continue {
  background-color: rgb(146, 228, 206);
}

.game-over {
  color: rgb(7, 7, 102);
  background-color: rgb(224, 44, 44);
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
}

.game-over:hover {
  font-weight: 700;
}

.winner {
  font-size: 40px;
  font-weight: 900;
  color: rgb(208, 106, 11);
}

.final-score {
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
}

.return-start {
  font-size: 30px;
  color: rgb(34, 211, 34);
}
